body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 20px;
}

.home_image{
    flex: 0 0 auto;
    margin-right: 0px;
    width: 40%;
    height: auto;
}

.home_text{
    flex: 1px;
}

.home_title{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.home_description{
    font-size: 24px;
    line-height: 1.5;
    color: white;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Background color of the bottom bar */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust padding as needed */
    text-align: left; /* Align text to the center */
}

.headshot_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.content_heading{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.aboutme_text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
    color:white;
}

.aboutme_links{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
}

.publications_year{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 50px;
    color: white;
}

.publications_paper{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10px;
    color: white;
}

.sideproj_temp{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: white;
}

.research_container{
    margin: 100px auto;
    width: 75%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.research_image{
    max-width: 350px;
    max-height: 350px;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 20px;
}

.research_head{
    font-size: 25px;
    padding-left: 5px;
    color: white;
}

.research_text{
    font-size: 20px;
    color: white;
}